body {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 10%);
}
header{
  transition: all 0.5s;
  max-height: 150px;
  margin: 5%;
  margin-top: 1%;
  background-color: hsl(300, 100%, 25%);
  color: hsl(300, 100%, 85%);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0px 6px hsl(300, 100%, 35%);
  border-radius: 15px;
}
header:hover{
  transition: all 0.5s;
  margin: 5.00001%;
  background-color: hsl(300, 100%, 35%);
  color: hsl(300, 100%, 95%);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px hsl(300, 100%, 45%);
}
nav a {
  transition: all 0.5s;
  color: hsl(300, 100%, 85%);
  margin: 0 1rem;
  text-decoration: none;
}
nav a:hover{
  transition: all 0.5s;
  color: hsl(300, 100%, 95%);
  margin: 0 1rem;
  text-decoration: none;
}
header button{
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
  border: 0;
  box-shadow: 0 0 3px hsl(0, 0%, 90%);
  border-radius: 3px;
}
header button:hover{
  background-color: hsl(0, 0%, 100%);
}
.label{
  color: hsl(240, 100%, 5%);
}
#about{
  transition: all 0.5s;
  margin: 2.5%;
  background-color: hsl(300, 100%, 25%);
  box-shadow: 0px 0px 10px hsl(300, 100%, 35%);
  border-radius: 15px;
}
#about:hover{
  transition: all 0.5s;
  margin: 2.5%;
  background-color: hsl(300, 100%, 35%);
  box-shadow: 0px 0px 10px hsl(300, 100%, 45%);
  border-radius: 15px;
}
section {
  padding: 2rem;
  color:hsl(0, 0%, 90%)
}
#projects {
  transition: all 0.5s;
  margin: 2.5%;
  padding: 2rem;
  background-color: hsl(300, 100%, 25%);
  box-shadow: 0px 0px 10px hsl(300, 100%, 35%);
  border-radius: 15px;
}
#projects:hover{
  transition: all 0.5s;
  background-color: hsl(300, 100%, 35%);
  box-shadow: 0px 0px 10px hsl(300, 100%, 45%);
  border-radius: 15px;
}
.project {
  transition: all 0.5s;
  margin: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: hsl(0, 0%, 15%);
  border: 1px solid #0f0f0f;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px hsl(300, 100%, 35%);
}
.project:hover {
  transition: all 0.5s;
  margin: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: hsl(0, 0%, 20%);
  border: 1px solid #0f0f0f;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px hsl(300, 100%, 45%);
}
.project h3 {
  margin-top: 0;
  color: hsl(300, 100%, 85%);
}
.project a {
  transition: all 0.5s;
  color: hsl(300, 100%, 85%);
  text-decoration: none;
  margin-right: 1rem;
}
.project a:hover {
  transition: all 0.5s;
  color: hsl(300, 100%, 95%);
  margin-right: 1rem;
}
#aboutText{
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 1%;
}
#aboutLung{
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}


body.dark-mode {
  background-color: hsl(0, 0%, 90%);
}
body.dark-mode header{
  transition: all 0.5s;
  background-color: hsl(240, 100%, 75%);
  color: hsl(240, 100%, 15%);
  box-shadow: 0 0px 6px hsl(240, 100%, 65%);
}
body.dark-mode header:hover{
  background-color: hsl(240, 100%, 65%);
  color: hsl(240, 100%, 5%);
  box-shadow: 0 2px 4px hsl(240, 100%, 55%);
}
body.dark-mode nav a {
  transition: all 0.5s;
  color: hsl(240, 100%, 15%);
}
body.dark-mode nav a:hover{
  transition: all 0.5s;
  color: hsl(240, 100%, 5%);
}
body.dark-mode .label{
  color: hsl(300, 100%, 95%);
}
body.dark-mode #about{
  transition: all 0.5s;
  background-color: hsl(240, 100%, 75%);
  box-shadow: 0px 0px 10px hsl(240, 100%, 65%);
}
.label{
  color: hsl(300, 100%, 95%);
}
body.dark-mode #about:hover{
  transition: all 0.5s;
  background-color: hsl(240, 100%, 65%);
  box-shadow: 0px 0px 10px hsl(240, 100%, 55%);
}
body.dark-mode section {
  color:hsl(0, 0%, 10%)
}
body.dark-mode #projects {
  transition: all 0.5s;
  background-color: hsl(240, 100%, 75%);
  box-shadow: 0px 0px 10px hsl(240, 100%, 65%);
}
body.dark-mode #projects:hover{
  transition: all 0.5s;
  background-color: hsl(240, 100%, 65%);
  box-shadow: 0px 0px 10px hsl(240, 100%, 55%);
}
body.dark-mode .project {
  transition: all 0.5s;
  background-color: hsl(0, 0%, 85%);
  box-shadow: 0 2px 4px hsl(240, 100%, 65%);
}
body.dark-mode .project:hover {
  transition: all 0.5s;
  background-color: hsl(0, 0%, 75%);
  box-shadow: 0 2px 4px hsl(240, 100%, 55%);
}
body.dark-mode .project h3 {
  color: hsl(240, 100%, 15%);
}
body.dark-mode .project a {
  transition: all 0.5s;
  color: hsl(240, 100%, 15%);
}
body.dark-mode .project a:hover {
  transition: all 0.5s;
  color: hsl(240, 100%, 5%);
}
